@import url('https://font.googleapis.com/css2?family=Poppins');

*{
  font-family:'Poppins';
}

.note-item {
  background-color: rgb(17, 255, 176);
  width: 300px;
  height: auto;
  overflow: auto;
  word-wrap: break-word;
}

.note-board {
  // background-color: #4fc08d;
  // position: absolute;
  // left: 25px;
  // top: 70px;
  // right: calc(100%);
  // bottom: calc(100% - 220px);
  .parent-element {
    position: relative; /* 부모 요소에 position 속성 추가 */
  }
  
  .note-board {
    background-color: #4fc08d;
    position: absolute;
    left: 25px;
    top: 70px;
    right: 25px; /* 부모 요소와 동일한 거리만큼 지정 */
    bottom: calc(100% - 220px);
  }
}

.note-item h2,p{
  padding-left: 10px;
  padding-right:10px;
}

.note-item h2{
  font-size: 1.2rem;
}

.note-item p{
  font-size:0.9rem;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  width: 100%;
  padding: 1.5rem 1rem 0 1rem;
  
  input {
    width: 30%;
    font-size: 14px;
    margin: 0 .5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    background: none;
    border: #e3e3e3 1px solid;
    transition: border 250ms ease-out;
    &:focus {
      outline: none;
    }
  }
  
  
  .createBtn{
  font-size: 14px;
  margin: 0 .5em;
  border-radius: 2em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  color: #4fc08d;
  transition: 250ms ease-out;
  &:hover, &:focus {
    background-color: #4fc08d;
    color:#fff;
    
  }
  }
}


button{
  font-size: 10px;
margin: 0 .5em;
border-radius: 2em;
padding: 0.75em 1.5em;
cursor: pointer;
background: none;
border: 1px solid;
letter-spacing: 1px;
color: #4fc08d;
margin-bottom:10px;
transition: 250ms ease-out;
&:hover, &:focus {
  background-color: #4fc08d;
  color:#fff;
  
}
}

textarea{
  border: 1px solid #4fc08d;
  background-color: #ffffff6e;
  width:50%;
}

input{
  border: 1px solid #4fc08d;
  background-color: #ffffff6e;
  margin-bottom:10px;
  width:50%;
}



.SignOutBtn{
  margin-left: auto;
  font-size: 0.9rem;
  margin: 0 1.0em;
  border-radius: 2em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  background: #4fc08d;
  border: 1px solid;
  letter-spacing: 1px;
  color: #fff;
  transition: 250ms ease-out;
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
  &:hover, &:focus {
    background-color: #4fc08d;
    color:#fff;
    letter-spacing:0.15rem;
  }
}

.signinPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:25%;
  color:#4fc08d;
}

.signinPage h1{
  color:#4fc08d;
  font-size:3em;
}

.signinPage .SignIn{
  margin-left: auto;
  font-size: 1.4rem;
  margin: 0 1.0em;
  border-radius: 2em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  background: #4fc08d;
  border: 1px solid;
  letter-spacing: 1px;
  color: #fff;
  transition: 250ms ease-out;
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
  &:hover, &:focus {
    background-color: #71ecb4;
    color:#fff;
    letter-spacing:0.15rem;
    font-weight:800;
    font-size: 1.5rem;
  }
}